<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tay-PI</title>
  <link rel="icon" href="img/logo-white-transparent.png" />
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css" type="text/css" />
</head>

<header>
  <h1>I have Excellent Taste in Books</h1>
</header>
<body>


  <main>

    <section class="wheelhouse">
      <h1>My Wheelhouse</h1>
      <ul class="wheelhouseItems"></ul>
    </section>

    <section class="books">

      <div class="bookList">
      <h1>Read Me</h1>
        <ul class="recommendedBooks"></ul>
      </div>

      <div class="addBookToList">
        <h1>Know a book in my wheelhouse?</h1>
        <!-- A form that adds a book recommendation -->


          <form id="addBook">
            <input id="addBookTitle" placeholder="Title" name="title" type="text" />
            <input id="addBookAuthor" placeholder="Author" name="author" type="text" />

            <textarea id="addBookSummary" placeholder="Book Summary" name="summary"></textarea>


              <div class="yesNo">

                <label for="isPart">Is this book part of a series?</label>
                <input id="addBookPartOfSeries" type="checkbox" name="isPart" />

              </div>

            <textarea id="addBookKeywords" placeholder="Book Keywords (Please separate with a comma)" name="keywords"></textarea>
            <textarea id="addBookReasons" placeholder="Reason(s) for Recommendation (Please separate with a comma)" name="reasonsForRecommendation"></textarea>

            <input id="submit" type="submit" value="submit"/>
            </form>


    </section>

    <section class="profile">
      <div class="profilePic"></div>
      <div class="personalInfo">
        <ul class="profileInfo"></ul>
        <ul class="socialLinks"></ul>
      </div>
    </section>
  </main>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>
