html {
  width: 100%;
  background-image: -webkit-linear-gradient(bottom, #7ba257, #429069, #167973, #1d616d, #2f4858);
  background-image: -moz-linear-gradient(to top, #7ba257, #429069, #167973, #1d616d, #2f4858);
  background-image: -o-linear-gradient(bottom, #7ba257, #429069, #167973, #1d616d, #2f4858);
  background-image: linear-gradient(to top, #7ba257, #429069, #167973, #1d616d, #2f4858);
}

/* Global */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #f2fcfc;
  margin: 0;
  padding: 3em;
}

header h1{
  font-size: 5em;
  line-height: normal;
  margin: 0;
}

img{
  max-width: 300px;
}

/* Typography */

a{
  color: #000;
  text-decoration: none;
  transition: all .75s;
}

a:hover{
  color: #f2fcfc;
  letter-spacing: 1.15;
}


body {
  font-size: 1.25em;
  line-height: 1.3em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: .7em;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  letter-spacing: .05em;
}


i {
  font-size: 1.5em;
  padding-left: .5em;
}
.recommender{
  text-align: center;
}

/* Main */
main {
  padding: 3em;
}

section {
  padding-top: 6em;
}

.books>div {
  padding-top: 3em;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.profile h1 {
  text-align: center;
}

.name{
  text-transform: uppercase;
  font-size: 3em;
}

.profileInfo {
  -moz-padding-end: 3em;
  padding-right: 2em;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .wheelhouse{
  height: 100vh;
} */

.bookHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #f2fcfc;
padding: 1em;
    width: 100%;
}

.bookTitleAndAuthor{
  max-width: 75%;
}

.bookTitle{
  display: inline;
}

.recommendedBooks>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}




.recommendedBooks ul {

}

/*Sections*/
.dropdown {
  display: none;
  background-color: rgba(255, 255, 255, .25);
  width: inherit;
  padding: 1em;

  -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.dropdown>p{
  margin: 0 2em;
}

.dropdown ul{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  margin: 2em;
}

.wheelhouseItems{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.dropdown li, .wheelhouse li{
  text-align: center;
  background-color: #000;
  padding: .5em;
  color: #f2fcfc;
  border-radius: 5px;
  text-transform: lowercase;
  transition: all .75s;
}

.dropdown li:hover, .wheelhouse li:hover{
  font-size: 1.2em;
}

/* Form */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;

}

input, textarea{
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  border: none;
  padding: 1em;
  margin-top: 8px;
  color: #000;
  font-size: .73em;
  box-sizing: border-box;
  font-family: inherit;
}

input[type=submit]{
  background-color: rgba(0, 0, 0, .75);
  color:#f2fcfc;
  text-transform: uppercase;
  transition: all 1s;
}

input[type=submit]:hover{
  background-color: #000;
}

input[type=checkbox]{
  display: block;
  width: 10%;
  text-align: center;
  margin: 0;
}

textarea{
  height: 4em;
}

label{
  font-size: .75em;
}

.yesNo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  margin-top: 8px;
}

#editor{
  width:inherit;
  margin: 0;
}

#editorText{
  height: 10em;
}

@media only screen and (max-width: 720px){
  form{
    width: 100%;
  }
  .profile{
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .profile ul{
    padding: 0;
  }
}
